#heading{
    background-color: aquamarine;
}
body{
    background-color: rgb(187, 119, 119);
}
.heading{
    background-color: blanchedalmond;
}

.box{
    margin: 10px;
    height: 100px;
    width: 100px;
background-color: azure;
text-align: center;
border: 2px solid black;
}